body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;

  padding: 5px 5px 5px 5px;
  overflow: hidden;
}

.container {
  position: relative;
}

.content {
  width: 100%;
  position: absolute;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#stackedrightContent {
  right: 0;
}
